// Heading Color
$heading: #303030;

// Text Color
$text: #707070;

// Gray Background
$bg-gray: #e8f1f8;

// Primary Color
$primary: #1c66de;

// White Color
$white: #ffffff;

// Dark Color
$dark: #000000;

// Border Color
$border: #ebebeb;

// Hover Color
$hover: #1c66de;

// Secondary Color
$secondary: #acacac;
